[defaults]
inventory = ./inventories/production/hosts.yml
host_key_checking = False
timeout = 30
forks = 10
log_path = ./ansible.log
retry_files_enabled = False
stdout_callback = yaml

[inventory]
enable_plugins = yaml, ini

[privilege_escalation]
become = True
become_method = sudo
become_user = root
become_ask_pass = False
